# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env files
.env
.env.local
.env.*.local

# Build files
*.tsbuildinfo

# IDE
.vscode
.idea
out
.gradle
.project
.classpath
.settings/
.sts4-cache/
.DS_Store
.AppleDouble
.LSOverride
*.iml
*.iws
*.ipr
*.cer
*.jks
*.p12
